// https://lh4.googleusercontent.com/proxy/-ZrGG6VAOH5-bwQJ2NqmQO3eER7LJmy1hptDr1a5-cD1FNYTIg7X9UGtWve0KpuF28EkvyaOZ-lFXrFg_59cZbUP0Gp8b2KkXKkBMtEb7ow=s0-d

$yellow: #f4ba1b;

$orange: #f1882c;

$red: #8e173d;

$blue: #193662;
