.scroll-up-button {
	position: fixed;
	bottom: 5%;
	right: 5%;
	height: 3rem;
	width: 1.5rem;
	padding: 0;
	border: none;
	background: none;

	&__text {
		writing-mode: vertical-rl;
		text-orientation: upright;
		font-size: 3em;
		line-height: 0%;
		&:hover {
			transform: scale(1.2);
		}
	}
}
