/// --- LOGO.SCSS --- ///
@use "../../styles/partials/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

.logo {
	display: flex;
	align-items: center;

	&__image {
		// @extend .logo;
		// height: 5.25rem;
		// width: 5.25rem;
		// padding: 1rem 0;
		min-height: 4rem;
		max-height: 4rem;

		border-radius: 50%;
		// height: 100%;
		padding: 0.5rem 0;
	}

	&__title {
		display: none;
		@include tablet {
			display: flex;
			padding-left: 1rem;
			font-family: "Poppins", sans-serif;
			text-decoration: underline;
			color: black;
		}
	}
}
