@use "../../styles/partials/mixins" as *;

.header {
	// background: linear-gradient(45deg, rgb(209, 170, 184), rgb(200, 173, 163));
	background-color: rgb(162, 200, 172);
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10%;
	// position: fixed;
	width: 100%;
	z-index: 5;

	&__nav-link {
		margin-left: 1rem;

		@include tablet {
			margin-left: 2rem;
		}

		&--active {
			display: none;
			@include tablet {
				display: flex;
				text-decoration: underline;
			}
		}
		&:hover {
			border-bottom: 1px solid black;
		}
	}
}
