/// --- LOGINGPAGE.SCSS --- ///
@use "../../styles/partials/mixins" as *;

.login {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	// @include tablet {
	// 	padding-top: 15%;
	// }
	&__title {
	}

	&__button {
		@include button-standard;
		// margin: 2rem;
		// background-color: #a2c8ac;
		// padding: 1rem;
		// font-size: 1rem;
		// @include border-radius;
		// border: none;
	}
}
