/// --- LOGINGPAGE.SCSS --- ///
.login {
	padding-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	&__title {
	}

	&__button {
		margin: 2rem;
		background-color: #a2c8ac;
		padding: 1rem;
		font-size: 1rem;
		border-radius: 10%;
		border: none;
	}
}
