/// APP.SCSS ///

@use "./styles/partials/colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap");
:root {
	--surface-color: #fff;
	--curve: 40;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;

	background-color: rgba(209, 170, 185, 0.1);
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
ul {
	margin: 0;
}
li {
	list-style: none;
}
p {
	margin: 0;
}

.content-container {
	min-height: 85vh;
}
