@use "./styles/partials/colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap");
:root {
	--surface-color: #fff;
	--curve: 40;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;

	// background: linear-gradient(#a2c8ac, #caaca3, #a2c8ac);
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
ul {
	margin: 0;
}
li {
	list-style: none;
}
p {
	margin: 0;
}

video {
	width: 100%;
	height: 40%;
}

audio {
	position: absolute;
	bottom: 100px;
	left: 0;
	width: 100%;
}

.content-container {
	min-height: 85vh;
}
