/// --- GALLERYPAGE.SCSS --- ///

@use "../../styles/partials/mixins" as *;

.gallery {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
	text-align: center;
	@include tablet {
		padding: 2rem 0;
	}
	&__main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
	}

	&__found-info {
		padding-bottom: 1rem;
		width: 100%;
		word-break: break-word;
		display: flex;
		flex-direction: column;
		align-items: center;
		&--bold {
			font-weight: bold;
			font-size: 0.75rem;
			padding: 0.5rem 0;
		}
	}

	&__found-info-celebrity {
		font-size: 1rem;
		@include tablet {
			// margin-top: 4rem;
			font-size: 2rem;
		}
	}
	&__gallery {
		// height: 0;
	}
}
